/* estilos.css */

/* Fondo del formulario con borde redondeado */
.card {
    border-radius: 15px;
}

/* Ajuste de márgenes y sombra en el formulario */
.container {
    margin-top: 50px;
}

/* Personalización de los campos de texto */
input.form-control {
    border-radius: 10px;
    padding: 10px;
}

.custom-bg-red {
    background-color: #b30600; /* Rojo personalizado */
}

/* Contenedor del botón */
.container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

/* Estilo del botón */
.btn-primary {
    background-color: #b30600;
    border: none;
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #a20500; /* Color más oscuro al pasar el ratón */
}

/* Fondo para el cuerpo */
body {
    background-color: rgb(148, 148, 147);
}

/* Estilos para mejorar la visualización en pantallas móviles */
@media (max-width: 576px) {
    .container {
        margin-top: 20px;
    }
    .card {
        padding: 10px;
    }
}

/* Estilo de la tabla */
.table {
    border-radius: 10px;
    overflow: hidden; /* Para esquinas redondeadas */
}

/* Fila de encabezado de la tabla */
.thead-dark th {
    background-color: #b30600; /* Color personalizado para el encabezado */
    color: white; /* Texto en blanco para mejor contraste */
}

/* Filas alternas */
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(179, 6, 0, 0.1); /* Color ligero para filas impares */
}

/* Estilo de las celdas */
.table td, .table th {
    padding: 15px; /* Espaciado en celdas */
}

/* Estilo para la tabla en pantallas pequeñas */
@media (max-width: 576px) {
    .table {
        font-size: 14px; /* Tamaño de fuente más pequeño */
    }
}